
/* Header */
h1{
    border-radius: 10px;
    background-color: #010203;
    opacity: 0.8;
}
#instructionsArea{
    border-radius: 10px;
    background-color: #010203;
    opacity: 0.8;
}
/* Body */
body {
   color: white;
   font-size: 120%;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 50px 10% 10%;
    background-position: center center;
    background-attachment: fixed;
}

/* Foooter */
footer {
    border-radius: 10px;
    background-color: #010203;
    opacity: 0.8;
    font-family: "Playfair Display", serif;
}