/* Header */
h1 {
    padding: 10px;
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
}

/* Main */
h2,
h3 {
    padding: 20px;
}

#playButton {
    margin-bottom: 50px;
}

#instructionsArea {
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
}


button {
    border-radius: 15px;
    font-size: 25px;
    padding: 5px 20px;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* Body */
body {
    color: white;
    font-size: 120%;
    text-align: center;
    font-family: "Playfair Display", serif;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    padding: 50px 10% 10%;
    background-position: center center;
    background-attachment: fixed;
}

/* Foooter */
footer {
    border-radius: 15px;
    background-color: #010203;
    opacity: 0.8;
    font-family: "Playfair Display", serif;
}